@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
html,body{
    margin: 0;
    padding: 0;
    background-image: url("/Chapters.htmls/kite/images/bgblack.png");
    background-size: cover;
    width: 125.5%;
    height: 125.5%;
    min-zoom: 90%;
    max-zoom: 110%;
    overflow: hidden;
  }
    .left{
    transform: scale(0.6);
    margin-top: 760px;
    margin-left: -340px;
    }
    .right{
    transform: scale(0.6);
    margin-left: 1430px;
    margin-top: -95px;
    }
.img{
transform: scale(0.25);
margin-top: -1750px;
margin-right: 1200px;
}
h1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(251, 255, 0);
    margin-top: -1740px;
    margin-left: 620px;
    font-size: 50px;
}
.para1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(0, 242, 250); 
    font-size: 30px;
    margin-left: 160px;
    margin-top: -75px;
}
.para2{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(0, 242, 250); 
    font-size: 30px;
    margin-left: 1090px;
    margin-top: -88px;
}
.para3{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(255, 208, 56); 
    font-size: 30px;
    margin-left: 160px;
    margin-top: 330px;
}
.para4{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(255, 208, 56); 
    font-size: 30px;
    margin-left: 1075px;
    margin-top: -91px;
}
.para5{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(255, 52, 137);  
    font-size: 30px;
    margin-left: 250px;
    margin-top: -135px;
}
.para6{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(255, 52, 137); 
    font-size: 30px;
    margin-left: 1140px;
    margin-top: -70px;
}
.para7{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(98, 255, 190); 
    font-size: 30px;
    margin-left: 200px;
    margin-top: 340px;
}
.para8{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(98, 255, 190); 
    font-size: 30px;
    margin-left: 1140px;
    margin-top: -70px;
}
